apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.configMap.name }}
  namespace: {{ .Values.namespace }}
data:
  SPRING_PROFILES_ACTIVE: {{ .Values.configMap.data.SPRING_PROFILES_ACTIVE }}
  SPRING_DATASOURCE_URL: {{ .Values.configMap.data.SPRING_DATASOURCE_URL }}
