apiVersion: apps/v1
kind: Deployment
metadata:
  name: petclinic
  namespace: petclinic
  labels:
    app: petclinic
spec:
  replicas: 1
  selector:
    matchLabels:
      app: petclinic
  template:
    metadata:
      labels:
        app: petclinic
    spec:
      containers:
        - name: petclinic
          image: ghcr.io/romangulyako/spring-petclinic/petclinic:latest
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: petclinic-config
            - secretRef:
                name: petclinic-db
